body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/index/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.shippori-mincho-b1-regular {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}


.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #98c56e;
    /*color: #fff;*/
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #4b8a29;
    width: 100%;
    height: 80px;
    font-size: 50px;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    margin-right: auto;
}

.menu-item{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    flex: 1;
}

.recommendations {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.recommendations li {
    margin: 10px 0;
}

.recommendations li a {
    text-decoration: none;
    color: #4b8a29;
    font-weight: bold;
}

.link-item{
    background-color: #fff;
    border: 1px solid rgba(160, 255, 171, 0.867);
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    text-align: left;
}

.link-item:hover {
    transform: scale(1.05);
}

.link-item a{
    text-decoration: none;
    color: #4b8a29;
    display: flex;
    width: 100%;
}

.link-item img{
    width: 20%;
    height: auto;
    display: block;
    object-fit: cover;
}

.item-content{
    padding: 10px;
    width: 70%;
}

.item-content .sec_title{
    margin: auto;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0%;
}

.item-content .data{
    color: #979797;
    font-size: 0.8em;
    font-weight: 0.3em;
    margin-bottom: 3px;
    margin-top: 5px;
}

.item-content .details{
    font-size: 1.0em;
    color: #000000;
    margin-top: 0px;
}

footer {
    background-color: #4b8a29;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 10px 0;
    font-family: "Shippori Mincho B1", serif;
    font-weight: 400;
    font-style: normal;
}

footer nav ul li {
    display: inline;
    margin-right: 15px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}


@media(max-width: 800px){   
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url(../images/index/back.png);
        background-size: cover;
    }

    header {
        background-color: #98c56e;
        /*color: #fff;*/
        padding: 10px 0;
        text-align: center;
        border-bottom: 2px solid #4b8a29;
        width: 100%;
        height: 40px;
        font-size: 30px;
    }
    
    .title{
        margin-right: auto;
    }
    
    .menu-item{
        list-style: none;
        display: inline-block;
        padding: 10px;
    }
    
    header h1 {
        margin: 0;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li {
        display: inline;
        margin-right: 15px;
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    main {
        padding: 20px;
        text-align: center;
    }
    
    .recommendations {
        list-style-type: none;
        padding: 0;
        margin-top: 20px;
    }
    
    .recommendations li {
        margin: 10px 0;
    }
    
    .recommendations li a {
        text-decoration: none;
        color: #4b8a29;
        font-weight: bold;
    }
    
    .link-item{
        background-color: #fff;
        border: 1px solid rgba(160, 255, 171, 0.867);
        border-radius: 8px;
        overflow: hidden;
        margin: 10px 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: 0.2s;
        text-align: left;
    }
    
    .link-item:hover {
        transform: scale(1.05);
    }
    
    .link-item a{
        text-decoration: none;
        color: #4b8a29;
        display: flex;
        width: 100%;
    }
    
    .item-content{
        padding: 10px;
        width: 70%;
    }
    
    .item-content .sec_title{
        margin: auto;
        font-size: 1.6em;
        font-weight: bold;
        margin-bottom: 0%;
    }

    footer {
        background-color: #4b8a29;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 30px;
        bottom: 0;
        left: 0;
        position: absolute;
    }
}
